/* *************************** */
/* ** REGOLE GENERALI CSS ** */
/* *********************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-style: Montserrat, sans-serif;
  background-color: lightgray;
}

.back-top {
  background-color: darkcyan;
  height: 150px;
}

body img {
  border-radius: 50%;
}

/* *************************** */
/* ** REGOLE DEL CONTAINER ** */
/* *********************** */

#chat-container {
  background-color: lightgray;
  display: flex;
  padding: 2%;
  height: 100vh;
}

/* *************************** */
/* ** REGOLE DELLA SEZIONE CONTATTI (SX) ** */
/* *********************** */

#sx-area ul li {
  list-style: none;
}

/* * Userline * */

#userline {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
}

#userline img {
  height: 100%;
}

.icon-wrapper a{
  color: grey;
  font-size: 20px;
  padding: 0 10px;
}

.icon-wrapper a:hover{
  color: black;
}

/* * Notifiche * */

#notification {
  background-color: lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

#notification a{
  color: grey;
}

.fa-bell-slash {
  color: lightblue;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

/* * Searchbar * */

#searchbar {
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

#searchbar input {
  background-color: white;
  display: flex;
  width: 90%;
  padding: 4px;
  height: 25px;
}


/* * Lista dei Contatti * */

#contact-list li a {
  background-color: antiquewhite;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid grey;
  text-decoration: none;
}

#contact-list h3 {
  color: black;
}

/* stile dei singoli contatti */

.contact-style{
  height: 100%;
}

.contact-style img {
  height: 100%;
}

.contact-style > div{
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

/* *************************** */
/* ** REGOLE DELLA SEZIONE CHAT (DX) ** */
/* *********************** */

#dx-area {
  width: 70%;
/* debug */
height: 100%;
}

#dx-area .receiver-info {
  /* debug color */
  background-color: yellow;

  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* DA RIVEDERE PER ICONE A DX */

#dx-area .receiver-info .icon-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* !!!!!vedi sopra!!!! */

#dx-area #messages{
  background: url("img/wallpaper.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  overflow-y: auto;
  /* altezza provvisoria, da modificare */
  height: 426px;
}

/* * form in cui scrivere nuovi msg * */

#dx-area #new-msg-area {
  background-color: antiquewhite;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
}

#dx-area #new-msg-area #send-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 20px;
  padding: 10px;
  font-size: 30px;
}

#dx-area #new-msg-area .input-msg {
  width: 80%;
  height: 100%;
  position: relative;
}

#dx-area #new-msg-area .input-msg input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
